<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2021 Aitoc (https://www.aitoc.com)
 * @package Aitoc_CustomProductDesigner
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_save_before">
        <observer name="cpd_product_options_save" instance="Hippiemonkeys\ModificationAitocProductDesigner\Observer\Admin\ProductOptionsSave"/>
    </event>
</config>